/*Utils*/
/*Base*/
@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
body {
  font-size: 15px;
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto";
}

section {
  margin: 0 !important;
}

.loaderContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  visibility: hidden;
  animation: fadeIn 0.5s reverse;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid black;
  width: 70px;
  height: 70px;
  animation: spin 4s linear infinite;
}
@media screen and (max-width: 599px) {
  .loader {
    left: 40%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
body {
  font-family: "Roboto", sans-serif;
}

/*Composants*/
.btn {
  width: 50%;
  margin: 20px auto;
  border-radius: 30px;
  color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 3px 6px 2px #c3c3c3;
  cursor: pointer;
}
.btn--color {
  background: linear-gradient(to left top, #9356DC, #FF79DA);
}
.btn--color:hover {
  background: linear-gradient(to left top, #a16be0, #ff93e1);
  box-shadow: 0px 3px 6px 2px #969696;
}
@media screen and (min-width: 768px) and (max-width: 2000px) {
  .btn {
    width: 15%;
    margin-top: 40px;
  }
}
@media screen and (min-width: 599px) and (max-width: 768px) {
  .btn {
    width: 25%;
    margin-top: 40px;
  }
}

.menu__button {
  display: flex;
}

.card {
  position: relative;
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 1rem;
  display: block;
  margin: 20px auto;
  color: black;
  font-weight: bold;
  box-shadow: 0px 2px 10px #d2d2d2;
}
.card__fonctionnement {
  width: 70%;
}
.card__fonctionnement i {
  color: grey;
  margin: 5px 10px;
}
.card__fonctionnement:hover {
  background-color: #f5edff;
}
.card__fonctionnement:hover i {
  color: #9356DC;
}
@media screen and (min-width: 768px) and (max-width: 2000px) {
  .card__fonctionnement {
    width: 25%;
  }
}
@media screen and (min-width: 599px) and (max-width: 768px) {
  .card__fonctionnement {
    width: 30%;
  }
}
.card__menu {
  width: 80%;
  padding: 10px;
  animation: slide;
}
@keyframes slide {
  from {
    top: 20px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
@media screen and (min-width: 768px) and (max-width: 2000px) {
  .card__menu {
    width: 100%;
  }
}
.card .card__menuContent .menuContent__title {
  margin: 3px 0;
}
.card .card__menuContent .menuContent__description {
  font-weight: lighter;
  font-size: 14px;
  display: block;
  width: 80%;
}
.card .card__menuContent .menuContent__price {
  position: absolute;
  top: 35px;
  right: 25px;
  color: #494949;
}
.card .card__menuContent .menuContent__check {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  height: 100%;
  width: 0;
  background-color: #9be3d1;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}
.card .card__menuContent .menuContent__check--position {
  position: absolute;
  top: 20px;
  right: 17px;
  color: white;
}
.card .card__menuContent:hover .menuContent__description {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .card__menuContent:hover .menuContent__price {
  right: 70px;
}
@media screen and (min-width: 599px) and (max-width: 768px) {
  .card .card__menuContent:hover .menuContent__price {
    right: 80px;
  }
}
.card .card__menuContent:hover .menuContent__check {
  visibility: visible;
  width: 17%;
  transition: 0.4s all;
}
.card .card__menuContent:hover .menuContent__check--position {
  transition-duration: 0.5s;
  transform: rotate(360deg);
}

/*Layouts*/
@media screen and (min-width: 768px) and (max-width: 2000px) {
  .container {
    max-width: 1280px;
    margin: auto;
  }
}

.header {
  display: flex;
  align-items: center;
  position: relative;
}

.header__return {
  position: absolute;
  left: 10px;
  color: black;
}
@media screen and (min-width: 768px) and (max-width: 2000px) {
  .header__return {
    position: absolute;
    left: 10px;
  }
}

.header__logo {
  margin: 10px auto;
}
@media screen and (max-width: 599px) {
  .header__logo {
    width: 40%;
  }
}

footer {
  padding: 15px 20px;
  background-color: #353535;
  color: white;
  text-align: left;
}
footer p {
  font-family: "Shrikhand";
}
footer i {
  margin: 5px;
}
footer span {
  margin: 3px;
  font-weight: 500;
}
footer a {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 599px) {
  footer {
    display: grid;
  }
}
@media screen and (min-width: 768px) and (max-width: 2000px) {
  footer {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
  footer p {
    font-size: 20px;
  }
}

/*Pages*/
#localisation {
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: #eaeaea;
  color: #353535;
  box-shadow: inset 0px 7px 4px -5px #d2cfcf;
}
#localisation p {
  margin-left: 15px;
  font-weight: 500;
}

.banner {
  background-color: #f6f6f6;
  padding-bottom: 30px;
}
.banner .banner__localisation {
  display: flex;
  align-items: baseline;
  background-color: #eaeaea;
  justify-content: center;
  box-shadow: inset 0px 7px 4px -4px #cacaca;
}
.banner .banner__localisation span {
  margin: 10px;
}
.banner .banner__topDescription {
  padding: 20px 45px 0px;
  text-align: center;
}
.banner .banner__topDescription span {
  font-weight: 300;
}

.fonctionnement {
  padding-bottom: 30px;
}
.fonctionnement h2 {
  margin: 30px;
}

.pastille {
  position: absolute;
  background-color: #9356DC;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  left: -10px;
  top: 18px;
  padding: 3px;
  color: white;
  font-weight: 400;
  font-size: 13px;
}
.pastille p {
  display: flex;
  justify-content: center;
  margin: auto;
}

#restaurants {
  background-color: #f2f2f2;
  padding: 20px 15px 40px 15px;
}

@media screen and (min-width: 768px) and (max-width: 2000px) {
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.cardRestaurant {
  position: relative;
  height: 245px;
  margin: 15px 0;
  border-radius: 20px;
  box-shadow: 3px 3px 6px 2px #cecece;
  overflow: hidden;
}
.cardRestaurant .card__image {
  width: 100%;
  height: 175px;
  object-fit: cover;
  object-position: bottom;
}
.cardRestaurant .card__image--fit {
  object-fit: cover;
  object-position: 0 62%;
}
.cardRestaurant .newEncart {
  position: absolute;
  top: 15px;
  right: 10px;
  background-color: #99e2d0;
  color: #008766;
  font-weight: bold;
  padding: 10px;
}
.cardRestaurant .card__content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  color: black;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.cardRestaurant .card__content a {
  text-decoration: none;
}
.cardRestaurant .card__content .card__title {
  margin: 15px 0px 0 15px;
}
.cardRestaurant .card__content .card__description {
  margin: 3px 15px;
}
.cardRestaurant .card__content .card__like span {
  font-size: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.cardRestaurant .card__content .card__like--notLiked {
  visibility: visible;
}
.cardRestaurant .card__content .card__like--liked {
  visibility: hidden;
}
.cardRestaurant .card__content .card__like:hover .card__like--notLiked {
  visibility: hidden;
}
.cardRestaurant .card__content .card__like:hover .card__like--liked {
  visibility: visible;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 768px) and (max-width: 2000px) {
  .cardRestaurant {
    width: 23%;
  }
}
@media screen and (min-width: 599px) and (max-width: 768px) {
  .cardRestaurant {
    width: 40%;
  }
}

.presentation__restaurant {
  position: relative;
}
.presentation__restaurant .presentation__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: 2000px) {
  .presentation__restaurant .presentation__image {
    object-position: 0 57%;
  }
}
.presentation__restaurant .presentation__menu {
  position: relative;
  top: -55px;
  background-color: #f6f6f6;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-bottom: 55px;
  margin-bottom: -55px;
}
.presentation__restaurant .menu__title {
  display: flex;
  justify-content: end;
  align-items: baseline;
  padding: 20px;
  font-size: 20px;
}
@media screen and (min-width: 768px) and (max-width: 2000px) {
  .presentation__restaurant .menu__title {
    justify-content: center;
    font-size: 30px;
  }
}
@media screen and (min-width: 599px) and (max-width: 768px) {
  .presentation__restaurant .menu__title {
    justify-content: center;
    font-size: 30px;
  }
}
.presentation__restaurant .menu__title h3 {
  font-family: "Shrikhand";
}
.presentation__restaurant .menu__title .card__like span {
  font-size: 25px;
  position: absolute;
  top: 50px;
  right: 30px;
}
.presentation__restaurant .menu__title .card__like--notLiked {
  visibility: visible;
}
.presentation__restaurant .menu__title .card__like--liked {
  visibility: hidden;
}
.presentation__restaurant .menu__title .card__like:hover .card__like--notLiked {
  visibility: hidden;
}
.presentation__restaurant .menu__title .card__like:hover .card__like--liked {
  visibility: visible;
  transition: 1;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 768px) and (max-width: 2000px) {
  .presentation__restaurant .menuContainer {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 599px) and (max-width: 768px) {
  .presentation__restaurant .menuContainer {
    display: flex;
    flex-direction: column;
  }
}
.presentation__restaurant .menuCategory {
  margin: auto;
}
@media screen and (min-width: 768px) and (max-width: 2000px) {
  .presentation__restaurant .menuCategory {
    width: 25%;
  }
}
@media screen and (min-width: 599px) and (max-width: 768px) {
  .presentation__restaurant .menuCategory {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.presentation__restaurant .cardContainer .card:nth-child(1) {
  animation-duration: 1s;
}
.presentation__restaurant .cardContainer .card:nth-child(2) {
  animation-duration: 2s;
}
.presentation__restaurant .cardContainer .card:nth-child(3) {
  animation-duration: 3s;
}
.presentation__restaurant .cardContainer .card:nth-child(4) {
  animation-duration: 4s;
}
@media screen and (min-width: 768px) and (max-width: 2000px) {
  .presentation__restaurant .cardContainer {
    flex-direction: column;
  }
}
@media screen and (min-width: 599px) and (max-width: 768px) {
  .presentation__restaurant .cardContainer {
    flex-direction: column;
    width: 70%;
  }
}
.presentation__restaurant .menu__subheading {
  font-weight: 300;
  margin-left: 25px;
  padding-bottom: 3px;
  display: block;
  width: 12%;
  border-bottom: 3px solid #99e2d0;
}

/*# sourceMappingURL=style.css.map */
