/*Utils*/
/*Base*/
@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
body {
  font-size: 15px;
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto";
}

section {
  margin: 0 !important;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid black;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Roboto", sans-serif;
}

/*Composants*/
.card__btn {
  position: relative;
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 1rem;
  display: block;
  width: 70%;
  margin: 20px auto;
  color: black;
  font-weight: bold;
  box-shadow: 0px 2px 10px #d2d2d2;
}
.card__btn--slide {
  width: 80%;
  padding: 10px;
  animation: slide 1s;
}
.card__btn--slide:hover {
  background: none !important;
}
.card__btn i {
  color: grey;
  margin: 5px 10px;
}
.card__btn:hover {
  background-color: #f5edff;
}
.card__btn:hover i {
  color: #9356DC;
}
@keyframes slide {
  from {
    top: 20px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

.btn {
  width: 50%;
  margin: 20px auto;
  border-radius: 30px;
  color: white;
  padding: 1rem;
  text-align: center;
}
.btn--color {
  background: linear-gradient(to left top, #9356dc, #ff79da);
}

.menu__button {
  display: flex;
  align-items: center;
}
.menu__button--btn {
  width: 50%;
  margin: 20px auto;
  border-radius: 30px;
  background: linear-gradient(to left top, #9356dc, #ff79da);
  color: white;
  padding: 1rem;
  text-align: center;
}

.card__btn .card__menuContent .menuContent__title {
  margin: 3px 0;
}
.card__btn .card__menuContent .menuContent__description {
  font-weight: lighter;
  font-size: 14px;
  display: block;
  width: 80%;
}
.card__btn .card__menuContent .menuContent__price {
  position: absolute;
  top: 35px;
  right: 25px;
  color: #494949;
}
.card__btn .card__menuContent .menuContent__check {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  height: 100%;
  width: 0;
  background-color: #9be3d1;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.card__btn .card__menuContent .menuContent__check--position {
  position: absolute;
  top: 18px;
  right: 8px;
  color: white;
}
.card__btn .card__menuContent:hover .menuContent__description {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__btn .card__menuContent:hover .menuContent__price {
  right: 70px;
}
.card__btn .card__menuContent:hover .menuContent__check {
  visibility: visible;
  width: 17%;
  transition: 0.4s all;
}
.card__btn .card__menuContent:hover .menuContent__check--position {
  transition-duration: 0.5s;
  transform: rotate(360deg);
}

/*Layouts*/
.header {
  display: flex;
  align-items: center;
}

.header__return {
  position: absolute;
  left: 30px;
  color: black;
}

.header__logo {
  margin: 10px auto;
}
@media screen and (max-width: 599px) {
  .header__logo {
    width: 40%;
  }
}

footer {
  padding: 15px 20px;
  background-color: #353535;
  color: white;
  text-align: left;
}
@media screen and (max-width: 599px) {
  footer {
    display: grid;
  }
}
footer p {
  font-family: "Shrikhand";
}
footer i {
  margin: 5px;
}
footer span {
  margin: 3px;
  font-weight: 500;
}
footer a {
  text-decoration: none;
  color: white;
}

/*Pages*/
#localisation {
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: #eaeaea;
  color: #353535;
  box-shadow: inset 0px 7px 4px -5px #d2cfcf;
}
#localisation p {
  margin-left: 15px;
  font-weight: 500;
}

.banner {
  background-color: #f6f6f6;
  padding-bottom: 30px;
}
.banner .banner__localisation {
  display: flex;
  align-items: baseline;
  background-color: #eaeaea;
  justify-content: center;
  box-shadow: inset 0px 7px 4px -4px #cacaca;
}
.banner .banner__localisation span {
  margin: 10px;
}
.banner .banner__topDescription {
  padding: 20px 45px 0px;
  text-align: center;
}
.banner .banner__topDescription span {
  font-weight: 300;
}

.fonctionnement {
  padding-bottom: 30px;
}
.fonctionnement h2 {
  margin: 30px;
}

.pastille {
  position: absolute;
  background-color: #9356DC;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  left: -10px;
  top: 18px;
  padding: 3px;
  color: white;
  font-weight: 400;
  font-size: 13px;
}
.pastille p {
  display: flex;
  justify-content: center;
  margin: auto;
}

#restaurants {
  background-color: #f2f2f2;
  padding: 20px 15px 40px 15px;
}

.cardRestaurant {
  position: relative;
  height: 245px;
  margin: 15px 0;
  border-radius: 20px;
  box-shadow: 3px 3px 6px 2px #cecece;
  overflow: hidden;
}
.cardRestaurant .card__image {
  width: 100%;
  height: 175px;
  object-fit: cover;
  object-position: bottom;
}
.cardRestaurant .card__image--fit {
  object-fit: cover;
  object-position: 0 62%;
}
.cardRestaurant .newEncart {
  position: absolute;
  top: 15px;
  right: 10px;
  background-color: #99e2d0;
  color: #008766;
  font-weight: bold;
  padding: 10px;
}
.cardRestaurant .card__content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.cardRestaurant .card__content a {
  color: black;
  text-decoration: none;
}
.cardRestaurant .card__content .card__title {
  margin: 15px 0px 0 15px;
}
.cardRestaurant .card__content .card__description {
  margin: 3px 15px;
}
.cardRestaurant .card__content .card__like span {
  font-size: 25px;
  position: absolute;
  top: 20px;
  right: 40px;
}
.cardRestaurant .card__content .card__like--notLiked {
  visibility: visible;
}
.cardRestaurant .card__content .card__like--liked {
  visibility: hidden;
}
.cardRestaurant .card__content .card__like:hover .card__like--notLiked {
  visibility: hidden;
}
.cardRestaurant .card__content .card__like:hover .card__like--liked {
  visibility: visible;
  background: linear-gradient(to left top, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.presentation__restaurant {
  position: relative;
}
.presentation__restaurant .presentation__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.presentation__restaurant .presentation__menu {
  position: relative;
  top: -55px;
  background-color: #f6f6f6;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-bottom: 55px;
  margin-bottom: -55px;
}
.presentation__restaurant .menu__title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
}
.presentation__restaurant .menu__title h3 {
  font-family: "Shrikhand";
}
.presentation__restaurant .menu__title .card__like span {
  font-size: 25px;
  position: absolute;
  top: 50px;
  right: 30px;
}
.presentation__restaurant .menu__title .card__like--notLiked {
  visibility: visible;
}
.presentation__restaurant .menu__title .card__like--liked {
  visibility: hidden;
}
.presentation__restaurant .menu__title .card__like:hover .card__like--notLiked {
  visibility: hidden;
}
.presentation__restaurant .menu__title .card__like:hover .card__like--liked {
  visibility: visible;
  background: linear-gradient(to left top, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.presentation__restaurant .menu__subheading {
  font-weight: 300;
  margin-left: 25px;
  padding-bottom: 3px;
  display: block;
  width: 12%;
  border-bottom: 3px solid #99e2d0;
}

/*Themes*/

/*# sourceMappingURL=style.css.map */
