.banner {
    background-color: #f6f6f6;
        padding-bottom: 30px;

    .banner__localisation {
        display: flex;
        align-items: baseline;
        background-color: #cecece;
        justify-content: center;

        span {
            margin: 10px;
        }
    }

    .banner__topDescription {
        padding: 20px 45px 0px;
        text-align: center;
        span {
            font-weight: 300;
        }
    }
}
