#localisation {
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-color: #eaeaea;
    color: #353535;
    box-shadow: inset 0px 7px 4px -5px #d2cfcf;
    p {
        margin-left: 15px;
        font-weight: 500;
    }
}