.presentation__restaurant {
    position: relative;
    .presentation__image {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .presentation__menu {
        position: relative;
        top: -55px;
        background-color: #f6f6f6;
        width: 100%;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding-bottom: 55px;
        margin-bottom: -55px;
    }

    .menu__title {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 20px;
        font-size: 20px;
        h3 {
            font-family: $titleFont;
        }
        .card__like {
            span {
                font-size: 25px;
                position: absolute;
                top: 50px;
                right: 30px;
                
            }

            &--notLiked {
                visibility: visible;
            }

            &--liked {
                visibility: hidden;
            }

            &:hover {
                .card__like--notLiked {
                    visibility: hidden;
                }
                .card__like--liked {
                    visibility: visible;
                    background: $linear-gradiant;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
    .menu__subheading{
        font-weight: 300;
        margin-left: 25px;
        padding-bottom: 3px;
        display: block;
        width: 12%;
        border-bottom: 3px solid #99e2d0;
    }
}



