$breakpoints: (
    mobile: 599px
); 


//Color
$primaryColor : #9356DC ; 
$secondaryColor : #FF79DA ;
$tertiaryColor : #99E2D0; 

$linear-gradiant: linear-gradient(to left top, #9356dc, #ff79da);


//Font 

$titleFont : "Shrikhand";
$titlebody: "Roboto"

