$breakpoints: (
    mobile: 599px,
    desktop: 2000px,
    tablette: 768px
); 


//Color
$primaryColor : #9356DC ; 
$secondaryColor : #FF79DA ;
$tertiaryColor : #99E2D0; 


$linear-gradiant: linear-gradient(to left top, $primaryColor, $secondaryColor);

$linear-gradiant-lighten: linear-gradient(to left top, lighten($primaryColor, 5%),lighten($secondaryColor, 5%) );

//Font 
$font-size: 15px;
$titleFont : "Shrikhand";
$titlebody: "Roboto"

